{% if type is defined %}
    <a href="{{ path(route_edit, { 'id': id, 'type':type }) }}" class="btn default btn-xs blue-madison"><i class="fa fa-edit"></i> View</a>
{% else %}
    <a href="{{ path(route_edit, { 'id': id }) }}" class="btn default btn-xs blue-madison"><i class="fa fa-edit"></i> View</a>
{% endif %}
