{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% set readonly = not app.user.hasAccess('cat_user_user.edit') %}

{% block content %}
    <form method="post" class="form-horizontal">
    {#BEGIN TABS#}
    <!-- start of profile -->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <!-- MAIN TABS -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_pos" data-toggle="tab">
                            POS </a>
                    </li>
                    <li>
                        <a href="#tab_permits" data-toggle="tab">
                            Permits </a>
                    </li>
                    <li>
                        <a href="#tab_rental" data-toggle="tab">
                            Rental </a>
                    </li>
                    <li>
                        <a href="#tab_terminals" data-toggle="tab">
                            Terminals </a>
                    </li>
                    <li>
                        <a href="#tab_insurance" data-toggle="tab">
                            Insurance </a>
                    </li>
                </ul>
                <!-- END MAIN TABS -->
                <div class="tab-content">
                    <!-- POS TAB -->
                    <div class="tab-pane active" id="tab_pos">
                        {% include 'GistLocationBundle:POSLocations:pos.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab_permits">
                        {% include 'GistLocationBundle:POSLocations:permits.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab_rental">
                        {% include 'GistLocationBundle:POSLocations:rental.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab_terminals">
                        {% include 'GistLocationBundle:POSLocations:terminals.html.twig' %}
                    </div>
                    <div class="tab-pane" id="tab_insurance">
                        {% include 'GistLocationBundle:POSLocations:insurance.html.twig' %}
                    </div>
                    
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    {#END TABS#}
{% endblock %}
{% block js %}
<!-- HERE -->
<script>
$(document).ready(function() {

    var selectedValues = $("#sourceValues").val().split(',');
    $(".select_2-multi").val(selectedValues).trigger("change");

    FormValidation.init(); 

    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
            $(".form-horizontal").validate({
                onfocusout: function(element) {
                    this.element(element);
                },
                rules: {
                    name: {
                        required: true
                    },
                    leasor: {
                        required: true
                    },
                    contact_number: {
                        required: true
                    },
                    type: {
                        required: true
                    },
                    brand: {
                        required: true
                    },
                    area: {
                        required: true
                    },
                    status: {
                        required: true
                    },
                    city: {
                        required: true
                    }
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });

});
</script>
{% endblock %}
















