<div class="row">

    <div class="col-md-6">
        <!-- BEGIN FORM-->
        <div class="form-body">
            {{ form.group_time('Opening Count','opening_count', object.getOpeningCount|default('')|date('h:i a'),4,4) }}

            {{ form.group_time('Closing Count','closing_count', object.getClosingCount|default('')|date('h:i a'),4,4) }}
        </div>

        <div class="form-actions fluid" style="margin-top: 40px;">
            <div class="col-md-9">
                {% if not readonly %}
                    <button type="submit" class="btn blue">Save</button>
                {% endif %}
                <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
            </div>
        </div>
        <!-- END FORM-->
    </div>
    <div class="col-md-3">
    </div>
</div>