<div class="row">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Income'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Units'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Region 1',
            data: [123444,125443,189312,209234,233474,176253,123222,172366,172883,212334,234555,298999]
        }, {
            name: 'Region 2',
            data: [135887,135413,199312,269234,203461,186253,103852,122366,122343,212399,162555,320545]
        }]
    });
    </script>
    </body>
</div>
<div class="row">
    <div class="col-md-12">
        {{ dboard.statbox('Supplies Purchase Orders', 0, 'cat_dashboard', '', '', 'blue', 'fa-ship','fa-file') }}
        {{ dboard.statbox('Equipments Purchase Orders', 0, 'cat_dashboard', '', '', 'red-flamingo', 'fa-wrench','fa-tags') }}
        {{ dboard.statbox('Completed Orders', 0, 'cat_dashboard', '', '', 'green-meadow', 'fa-check','fa-list') }}
        {{ dboard.statbox('Pending Orders', 0, 'cat_dashboard', '', '', 'purple-plum', 'fa-truck','fa-clock-o') }}
    </div>
</div>
