<div id="en_camera_form" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Picture</h4>
            </div>
            <div class="modal-body">
                <form name = "camera_form" id="camera_form" enctype="multipart/form-data">
                <div class="row form-horizontal form">
                    <div class="form-body">
                    {{form.hidden('first_name',object.getID)}}
                    <div id="webcam-container" style="width:500px; height:375px;"></div>
                    <div id="gallery"></div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="close_camera" class="btn default">Cancel</a>
            </div>
        </div>
    </div>
</div>