cat_user_user_index:
    pattern: /users
    methods: [GET]
    defaults: { _controller: GistUserBundle:User:index }

cat_user_user_add_form:
    pattern: /user
    methods: [GET]
    defaults: { _controller: GistUserBundle:User:addForm }

cat_user_user_add_submit:
    pattern: /user
    methods: [POST]
    defaults: { _controller: GistUserBundle:User:addSubmit }

cat_user_user_edit_form:
    pattern: /user/{id}
    methods: [GET]
    defaults: { _controller: GistUserBundle:User:editForm }

cat_user_user_edit_submit:
    pattern: /user/{id}
    methods: [POST]
    defaults: { _controller: GistUserBundle:User:editSubmit }

cat_user_user_delete:
    pattern: /user/{id}/delete
    methods: [GET]
    defaults: { _controller: GistUserBundle:User:delete }

cat_user_user_grid:
    pattern: /users/grid
    methods: [GET]
    defaults: { _controller: GistUserBundle:User:grid }


#DEPARTMENT
cat_user_department_index:
    pattern: /departments
    methods: [GET]
    defaults: { _controller: GistUserBundle:Department:index }

cat_user_department_add_form:
    pattern: /department
    methods: [GET]
    defaults: { _controller: GistUserBundle:Department:addForm }

cat_user_department_add_submit:
    pattern: /department
    methods: [POST]
    defaults: { _controller: GistUserBundle:Department:addSubmit }

cat_user_department_edit_form:
    pattern: /department/{id}
    methods: [GET]
    defaults: { _controller: GistUserBundle:Department:editForm }

cat_user_department_edit_submit:
    pattern: /department/{id}
    methods: [POST]
    defaults: { _controller: GistUserBundle:Department:editSubmit }

cat_user_department_delete:
    pattern: /department/{id}/delete
    methods: [GET]
    defaults: { _controller: GistUserBundle:Department:delete }

cat_user_department_grid:
    pattern: /departments/grid
    methods: [GET]
    defaults: { _controller: GistUserBundle:Department:grid }

#POSITION


cat_user_group_index:
    pattern: /groups
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:index }

cat_user_group_add_form:
    pattern: /group
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:addForm }

cat_user_group_add_submit:
    pattern: /group
    methods: [POST]
    defaults: { _controller: GistUserBundle:Group:addSubmit }

cat_user_group_edit_form:
    pattern: /group/{id}
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:editForm }

cat_user_group_edit_submit:
    pattern: /group/{id}
    methods: [POST]
    defaults: { _controller: GistUserBundle:Group:editSubmit }

cat_user_group_delete:
    pattern: /group/{id}/delete
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:delete }

cat_user_group_get_positions:
    pattern: /group/get_positions/{parent}
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:getPositions }

cat_user_group_org_chart:
    pattern: /group/view/org_chart
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:orgChart }

cat_user_group_acl_editor:
    pattern: /group/acl_editor/{group_id}
    methods: [GET]
    defaults: { _controller: GistUserBundle:Group:aclEditor }

cat_user_group_acl_editor_submit:
    pattern: /group/acl_editor/{group_id}
    methods: [POST]
    defaults: { _controller: GistUserBundle:Group:aclUpdate }



rm_file:
    pattern: /user/removeFile/{file}/{uid}
    methods: [GET]
    defaults: { _controller: GistUserBundle:User:deleteFile, file: null }
    requirements:
        file:    '[a-zA-Z0-9-_\/-\s.^]+'


#ITEMS LIST
cat_user_items_list_index:
    pattern: /itemslist
    methods: [GET]
    defaults: { _controller: GistUserBundle:ItemsList:index }

cat_user_items_list_add_form:
    pattern: /item
    methods: [GET]
    defaults: { _controller: GistUserBundle:ItemsList:addForm }

cat_user_items_list_add_submit:
    pattern: /item
    methods: [POST]
    defaults: { _controller: GistUserBundle:ItemsList:addSubmit }

cat_user_items_list_edit_form:
    pattern: /item/{id}
    methods: [GET]
    defaults: { _controller: GistUserBundle:ItemsList:editForm }

cat_user_items_list_edit_submit:
    pattern: /item/{id}
    methods: [POST]
    defaults: { _controller: GistUserBundle:ItemsList:editSubmit }

cat_user_items_list_delete:
    pattern: /item/{id}/delete
    methods: [GET]
    defaults: { _controller: GistUserBundle:ItemsList:delete }

cat_user_items_list_grid:
    pattern: /itemslist/grid
    methods: [GET]
    defaults: { _controller: GistUserBundle:ItemsList:grid }

