<div id="import_form" class="modal fade" tabindex="-1" aria-hidden="true">
    <form action="{{path('hris_workforce_attendance_import')}}" method="post" enctype="multipart/form-data">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="form_title">Import Daily Time Record:</h4>
            </div>
            <div class="modal-body">
                <div class="row">                    
                   <div class ="col-md-3">
                        <div class="input-group">
                           <input type="file" name= "file[]" id="file_to_upload" accept=".csv" required>
                        </div>
                    </div> 
            </div>
            <div class="modal-footer">
                <button type = "submit" name="import_submit" class="btn blue">Submit</button>  
                <button type = "button" data-dismiss="modal" class="btn default">Close</button> 
            </div>
        </div>
    </div>  
    </form>     
</div>