<a href="javascript:void(0);"  data-url="{{ path('gist_accounting_cdj_details', {'id':id } )}}"
 data-url_voucher="{{ path('gist_accounting_voucher_edit_form', {'id':id } )}}"
 data-id="{{id}}" class="btn default btn-xs blue-madison ajax-view"><i class="fa fa-edit"></i> View Details</a>
